extends layout

block content
    .main.container
      .row
        .col-md-6.col-md-offset-3
          h1.display-4.m-b-2 Register
          form(method='POST' action="")
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email' name='email')
              div#additional-info
                each key,val in {'fname':'First Name', 'lname':'Last Name','phone':'Phone'}
                  label(for= val) #{key}:
                  input.form-control(type='text' name= key, id= val)  
            button.btn.btn-primary(type='submit') Update