extends layout

block content
    .main.container
      .row
        .col-md-6.col-md-offset-3
          h1.display-4.m-b-2 Register
          form(method='POST' action='/login')
            div.form-group
              label(for='email') Email:
              input#email.form-control(type='email', placeholder='name@email.com' name='email')
              label(for='pw') Password:
              input#pw.form-control(type='password' name='password')
              label(for='conpw') Confirm Password:
              input#conpw.form-control(type='password' name='confirm')
              div#additional-info
                each key,val in {'fname':'First Name', 'lname':'Last Name','address':'Address','city':'City','state':'State','zip':'Zip'}
                  label(for= val) #{key}:
                  input.form-control(type='text' name= key, id= val)  
            button.btn.btn-primary(type='submit') Sign In