extends layout

block content
  div.row
    div.column-md-12
    h1.text-center= title
    form#transaction-form(method='POST' action='transaction/')
      div.form-group
        label(for='trans_type') Checkout:
          input(type='radio', name='trans_type', value='1')
        label(for='trans_type') Checkin:
          input(type='radio', name='trans_type', value='2')
        
        div#customerid
          label(for='custid') Customer ID:
          input#custid.form-control(type='text' placeholder='Customer id' name='custid')
        div#movieid
          label(for='movieid') Movie-Id:
          input#dvd.form-control(type='text' name='movieid' placeholder="Movie id")
        div#due-date
          label(for='due_date') Due Back/ Returned Date:
          input#due.form-control(type='text' name='due_date' placeholder="Due Date")
        div#late-fees 
          label(for='late_charges') Late Fees:
          input#fee-amount.form-control(type='text' name='late_charges' value='0')
        div#payment.dropdown
          button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" id="menu1" type="button") Payment Method
            span.caret
          ul.dropdown-menu(role="menu" aria-labelledby="menu1")
            li(role="presentation")
              a#cash(role="menuitem" tabindex="-1" href="#") Cash
            li(role="presentation")
              a#check(role="menuitem" tabindex="-1" href="#") Check
            li(role="presentation")
              a#credit(role="menuitem" tabindex="-1" href="#") Credit Card
          div.input-group.hidden#input-amount
            div.input-group-prepend
              span.input-group-text Amount
            input.form-control(type="text" name="trans_amount")
          div.input-group.hidden#input-check
            div.input-group-prepend
              span.input-group-text Check #
            input.form-control(type="text" name="check_num")
          div.input-group.hidden#input-credit
            div.input-group-prepend
              span.input-group-text Card #
            input.form-control(type="text" name="credit_num")
            div.input-group-prepend
              span.input-group-text Expiration Date
            input.form-control(type="text" name="credit_exp")
        button#submitTrans.btn.btn-primary(type='submit' name='submit' value='submit') Process Transaction
      
      
      