body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addItem {
  float: right;
  background-color: #F5F6CE;

}

#submitTrans {
  margin-top: 10px;
}

.fee-alert {
  color: red;
}
